body {

padding: 32px;

}

div.container {

background-color: red;
display: flex;
flex-direction: column;
gap: 32px;
box-sizing: border-box;
align-items: center;

}

div.content {

background-color: black;
display: flex;
justify-content: space-around;
padding: 64px 56px 44px 30px;
padding: 56px 44px 30px;
padding: 44px 30px;
padding: 30px;

}




h1 {

font-family: fantasy;
font-size: 70px;
font-weight: bold;
color: yellowgreen;

}

p {

font-size: 24px;
color: greenyellow
}

a {
    font-size: 32px;
}

